@font-face {
  font-family: "Basis Grotesque Pro Mono";
  src: url("/fonts/BasisGrotesqueProMono-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/InterTight-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "InterDisplay";
  src: url("/fonts/InterDisplay-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "InterDisplay";
  src: url("/fonts/InterDisplay-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
